[2019-02-27 12:09] BrunoAderaldo opened #4 "console.error() when pass a react element"
**Hello, this component saved me a good time yesterday. Thank you!**

I know that in read.md it says that the following properties only accept string.
![image](https://user-images.githubusercontent.com/14007590/53489091-f9024580-3a6e-11e9-8002-12e4b05d58f4.png)

That is why this issue is not an error. But I really wanted to mass an icon (svg - react - feather). I can do this, everything works fine

[2019-02-27 21:00] alioguzhan commented on #4
Hey, you are right. I should change the propType config for these props. I will fix it and send a new release in a few days. I will update here!

[2019-02-27 21:23] BrunoAderaldo commented on #4
Oh nice, i appreciate it! :clap:

[2019-02-27 21:34] alioguzhan commented on #4
I fixed the issue. Changed the propNames like `editButtonContent`, `saveButtonContent` and `cancelButtonContent` instead of `xxxButtonText`. You will need to change a few things in your code.

I will also implement a few nice features to make it more customizable for developers. So the next version will probably `3.x.x`.

It probably will be here in next 24 hours !

[2019-02-27 22:48] alioguzhan commented on #4
Hey!

I just release a new version to NPM 📦 . Please see the [CHANGELOG](https://github.com/alioguzhan/react-editext/blob/master/CHANGELOG.md#300-2019-02-27)

Also, check new and updated example from [Examples Page](https://alioguzhan.github.io/react-editext/)

[2019-02-28 16:02] #4 closed

[2019-03-11 14:30] utkukaratas opened #7 "Support Vue."
We need a Vue version of this.

[2019-03-11 16:08] alioguzhan commented on #7
I am pretty sure that there are great Vue developers who can do (or already done) this.

[2019-03-12 08:30] #7 closed

[2019-03-12 17:05] yehudaTiram opened #8 "Option to set className for the text div"
Hey, it is a good component, thanks.
There's no way to directly control the the value element `<div>text</div>` with css.
in the
`<div class="styles_Editext__main_container__2Y-IL"><div class="styles_Editext__view_container__2l2kB"><div>text</div><div class="styles_Editext__buttons_container__1kphL"><button type="button" class="styles_Editext__button__6H8n_ styles_Editext__edit_button__hthOZ"></bu

[2019-03-12 17:38] alioguzhan commented on #8
Hey!

You can use `viewProps` to styling and other stuff. anything you passed with `viewProps` will be passed to text div. And there is also `inputProps` to pass any prop to the input element.

Please see the `Custom Props for Text Element` section in [Example Page](https://alioguzhan.github.io/react-editext/)

[2019-03-12 18:05] yehudaTiram commented on #8
Thanks for the quick pointer Ali,
I missed that.
Tried it now and it works very nice.

[2019-03-12 18:09] #8 closed

[2019-06-03 10:10] rajraj opened #11 "EdiText main and edit container styles"
Hi, Thanks for the library, works great.

Just a little thing if possible.
Is there any way to override the styles for the Main and Edit container styles. I would like to have the buttons displayed under the input box.

![image](https://user-images.githubusercontent.com/9442/58794475-2f141000-85f0-11e9-96a4-4205c3a23e72.png)

[2019-06-03 12:18] alioguzhan commented on #11
Hi @rajraj,

Nice idea. I can implement this in a day or two. If you are in a hurry feel free to PR. I'll let you know once I release a new version!

[2019-06-05 13:19] sesteva opened #12 "Value does not update when props change"
Thank for creating this component!

**Describe the bug**
The value prop may change but the implementation does not take this into account.
A possibility is to implement willReceiveProps or getDerivedProps to update the state properly.

**To Reproduce**
Examples: applications where the text is not hardcoded but loaded on bootstrap. this is pretty common when doing internationalization.

**Expected

[2019-06-05 13:59] alioguzhan commented on #12
Thanks for this. If you don't mind can you create a codesandbox reproduces this behavior?

[2019-06-05 14:16] alioguzhan commented on #12
Oh, I think I get you what you mean. Did you try to solve this by setting a key to `<EdiText` component:

[code]
With this approach, everytime `key` value is changed `EdiText` will be re-created. See [official docs page](https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#recommendation-fully-uncontrolled-component-with-a-key) for this pattern.

Let me know if this helps

[2019-06-05 16:30] alioguzhan commented on #11
Hey @rajraj ,

I just released a new version with new props to override container classes. Please see [the related section](https://alioguzhan.github.io/react-editext/#custom-classes-for-containers)

Also, see the [bottom of the props section in README.md](https://github.com/alioguzhan/react-editext#props)

Let me know if you have any question or suggestion!

[2019-06-05 19:13] rajraj commented on #11
@alioguzhan awesome thank you so much :clap:

Do you have a Buy me a Coffee page or something?

[2019-06-07 21:25] alioguzhan commented on #11
No, not at this moment. But thanks anyway! Closing the issue. Feel free to reach me for anything.

[2019-06-07 21:25] #11 closed

[2019-06-27 22:10] esskar opened #13 "Question: Edit Button left from the value"
Hi,

thanks for your library, it works really well.

Now, my question: Is it possible to put the edit button left from the value, and not right from the value?

[2019-06-27 22:17] alioguzhan commented on #13
Hi,
Yes it is possible I believe.  I can provide a prop like `actionsAlignment` with available values `["right", "left"]` which defaults to `right`.

With this approach, all action buttons will be located on the specified side of the `input` element. Is this what you are asking for, right?

[2019-06-27 23:42] esskar commented on #13
Thanks for the quick answer, the first option would be enough.

but, what about something like this

```actionsAlignment = { 'edit': 'left', 'save': 'right', 'cancel': 'left' }```

and setting

```actionsAlignment = 'left'```

would be the same as

```actionsAlignment = { 'edit': 'left', 'save': 'left', 'cancel': 'left' }```

and

```actionsAlignment = { 'edit': 'left' }```

would be the same as

[2019-06-28 06:42] alioguzhan commented on #13
Thanks. I will consider these and will release a new version in a day or two.

Btw, we still can make these arrangements with some ugly CSS by using `float`s :)

[2019-07-05 16:50] alioguzhan commented on #13
Hey @esskar ,

I just released a new version with `buttonsAlign` prop support. It is not so much advanced but it should provide basic alignment between `input` and `buttons`.  Please see [the new section on the example page](https://alioguzhan.github.io/react-editext/#change-buttons-location).

PS: I decided to set options as `before` and `after`. Since users can locate buttons container not only

[2019-07-09 11:23] esskar commented on #13
thats kinda nice, thanks.

[2019-07-09 11:24] #13 closed

[2019-07-28 18:17] casha1995 opened #17 "How to add onKeyDown event in this library ?"
it would be great if onKeyDown event is available in this lib

[2019-07-28 18:57] casha1995 commented on #17
i can add it in inputProps

[2019-07-28 18:57] #17 closed

[2019-08-05 20:34] jdoklovic opened #19 "indes.d.ts is missing container classname props"
see PullRequest #18

[2019-08-05 21:40] #19 closed

[2019-08-06 17:00] jdoklovic opened #20 "Add ability to activate editor on view click"
Instead of having to click on the edit button, it would be nice to have the option to activate the editor when the view div is clicked.

PR to follow.

[2019-08-06 17:02] jdoklovic commented on #20
see PullRequest #21

[2019-08-06 17:43] #20 closed

[2019-08-06 17:47] alioguzhan commented on #4
@all-contributors please add @BrunoAderaldo for bug and code

[2019-08-06 17:49] alioguzhan commented on #8
@all-contributors please add @yehudaTiram for question

[2019-08-06 17:53] alioguzhan commented on #13
@all-contributors please add @esskar  for his questions and ideas.

[2019-08-06 17:55] #12 closed

[2019-08-07 21:38] jdoklovic opened #29 "Ability to update value using external state"
PR #28 allows the value to be updated using external state. e.g. value is controllable

[2019-08-07 22:08] #29 closed

[2019-08-09 19:11] jdoklovic opened #32 "Make edit state externally controllable"
see PR #31

[2019-08-09 20:06] #32 closed

[2019-08-19 21:19] anz000 opened #36 "Allow to remove buttons"
I like the `editOnViewClick` which allows the text to be editable on click.

I want to remove all the buttons altogether, and.
 - Start editing on click.
 - call onSave() if the the user moves away from the text box.

While there might be hacky css routes, but I want to keep my code clean. :) thanks.

[2019-08-19 22:49] alioguzhan commented on #36
Sounds like a nice idea. But, what about `cancelling` ? We can call save method on mouse away. We still need a way to cancel modification. What do you think ?

[2019-08-19 22:53] anz000 commented on #36
We can listen for `Esc` buttons and perform cancellation based on that.

While I think cancellation button is more useful while shown, but if there's a way to remove all buttons, that'd be awesome.

[2019-08-20 06:37] alioguzhan commented on #36
Hey @jdoklovic,
Do you have any idea or suggestion for this?

[2019-08-26 21:23] alioguzhan commented on #36
This sounds a proper way to achieve what you need. I wouldn't want to add more complexity and code if we can achieve it with the current feature set and some tweaks.

What do you think @anz000 ?

[2019-08-29 22:09] alioguzhan opened #41 "get rid of unsafe lifecycle methods"
As mentioned [here](https://reactjs.org/blog/2019/08/08/react-v16.9.0.html#renaming-unsafe-lifecycle-methods), we need to remove `componentWillReceiveProps` and use something else.

Either we will use [`getDerivedStateFromProps`](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#new-lifecycle-getderivedstatefromprops) or even better implement one these suggestions [here](https://r

[2019-08-29 22:14] alioguzhan commented on #36
I am closing this issue for now. Feel free to re-open if you find a different approach or have a suggestion.

[2019-08-29 22:14] #36 closed

[2019-09-05 02:39] sloyer opened #42 "Ways to update initial State without going into edit mode"
Hey everyone,

First off let me say I love these fields they are making my life a breeze.
I am just running into an issue and maybe there is a solution out there and I am over looking it.
But I have Values I need to pull from my backend (Firebase) and I would like my Edi Text fields to have these values in their initial state.

Unfortunately, the fields show up blank, unless I toggle the edit butt

[2019-09-05 07:14] alioguzhan commented on #42
Hi,

Just to make sure, the `value` displayed on `view mode` is not being updated when you change the `value` prop that passed to `<EdiText/>` component.

this is the problem, right? If this is the case it shouldn't be like this way. The displayed content should be updated when the prop is changed.

Can you create a `codesandbox` reproduces this issue?

Thanks.

[2019-09-05 19:53] sloyer commented on #42
Thanks for getting back so fast!

Unfortunately, I can't make a sandbox for this but I can provide a demo of whats happening for a clearer understanding.

https://youtu.be/3NTAt1J-b2c

The code is the same as above just has more fields to it.

The ones with values showing are ones using the value Prop:

value="Enter Closing Cost"

The one with the value not showing is where we want to bring in a f

[2019-09-05 21:00] alioguzhan commented on #42
Hey,

I will try to reproduce this on my local machine tomorrow.

Until then, can you please try to pass a `key` prop to `EdiText` component? But not a static value. Something depends on firebase response. i.e `id`, `primary key` or some derived value from some text.

Thanks

[2019-09-06 19:23] alioguzhan commented on #42
Hey, I tried to reproduce your issue. @sloyer

I created a [sandbox](https://codesandbox.io/s/kind-cerf-jiben). Please check it. Here how it works:
- fetch some data from the server on `componentDidMount` and update the state.
- update the input by typing something.
- Click the save button and send the data to the server.
- Set the `EdiText`'s new value based on the server response.
It seems worki

[2019-09-07 02:35] sloyer commented on #42
Sorry for my slow reply on this! I have been traveling for work.

I will try this tomorrow and let you know!

[2019-09-08 00:16] sloyer commented on #42
Hey there,

So, I don't know if it's just a problem of conflict but I just can not get the input to update outside of the component. I made another video https://youtu.be/UD_eWGxfYgk

[2019-09-08 12:19] alioguzhan commented on #42
It is weird. Seems like the same pattern that I created in Codesandbox, right? Can you create a demo app with `create-react-app` and include only `firebase` and `react-editext` and then try to reproduce the same issue?

[2019-09-13 11:58] alioguzhan commented on #41
Hey @jdoklovic,  I am working on a new version (`4.0`) includes some refactors and also a solution to this problem. We have several options. Do you have any suggestion?

[2019-09-14 16:00] alioguzhan commented on #41
It is now fixed with `3.7.0`.  I migrated to `componentDidUpdate`. Please see the changelog.

[2019-09-14 16:00] #41 closed

[2019-09-14 19:11] alioguzhan commented on #42
Hey @sloyer , I just released a new version which changes the way communication between props and state. Can you please update to the new version and try again?

[2019-10-04 08:39] Coriou opened #44 "Support password type"
Not sure if there's a reason not to support the password type, but I think that'd be great. It kinda works already, just throws a warning because `password` is not a valid prop.

[2019-10-04 12:21] alioguzhan commented on #44
Hey,

You are right. I missed it. I can add `password` to the prop list and release a fix tonight.

Also, feel free to send a PR.

Thanks

[2019-10-05 05:56] alioguzhan commented on #44
Just release a new version with this fix. Please check it. I am closing the issue now. Feel free to re-open it.
Thanks.

[2019-10-05 05:56] #44 closed

[2019-10-07 11:53] Coriou commented on #44
Hey man, sorry I've just seen you had replied. Thank you for the fix, I've tested it and it works as expected.

[2019-10-21 20:24] #42 closed

[2019-11-01 17:05] hnhegde opened #46 "Submit on Enter key press"
Hello,
While EdiText is a great component, it would be good to submit on Enter key press. If its possible already, would be great to include it in the examples.

Thanks,
Harsha

[2019-11-01 21:11] alioguzhan commented on #46
Hey, I just released a new version includes a new prop `submitOnEnter`. Can you please check it here:

https://alioguzhan.github.io/react-editext/#submit-on-enter

[2019-11-02 06:27] hnhegde commented on #46
Hi @alioguzhan ,
Thanks for taking up my ask and making it available! Works great!
Regards,
Harsha

[2019-11-02 06:27] #46 closed

[2019-11-08 15:20] YaoRenaudWoana opened #48 "Display line breaks when using <textarea>"
**Problem**
The line breaks are not displayed when using <textarea>

**Other**
it would be a good idea to remove trailing and leading spaces too.

[2019-11-08 16:34] alioguzhan commented on #48
Hey, thanks for the issue. By saying `The line breaks are not displayed` do you mean it displays multiline texts as one line when it passed as `value`?

Also, you can reproduce this template:

 https://codesandbox.io/s/react-editext-template-5twrh

Thanks

[2019-11-08 16:48] YaoRenaudWoana commented on #48
Yeah I mean multiline texts are displayed as one line text.

Reproduced here : https://codesandbox.io/s/react-editext-template-ew8w5

[2019-11-08 16:58] alioguzhan commented on #48
The above URL is not changed. I think you forgot to save it. Can you check it.

[2019-11-08 17:01] YaoRenaudWoana commented on #48
Done

[2019-11-08 17:09] alioguzhan commented on #48
Hey. We can solve this by adding a css rule to the `viewProps`. Can you please check this:

https://codesandbox.io/s/react-editext-template-o4do5

Is this what you need ? I will think about making this solution default behavior.

[2019-11-08 17:12] YaoRenaudWoana commented on #48
Yes it's good.

[2019-11-08 17:13] #48 closed

[2019-11-08 21:39] meseven opened #49 "How can i trigger cancel or save event?"
Hi,
How can i trigger cancel or save event from outside that component?

[2019-11-09 08:11] alioguzhan commented on #49
Hey,

I didn't make that part of this component `controlled`. Since this is an input component, I thought there will be always a user interaction to trigger `cancel` or `save` events.

If you can think of any use case for this we can talk about it.

Right now the only controlled feature is toggling edit mode with `editing` prop.

[2019-11-16 04:32] justinkuntz opened #52 "Styled Components or Emotion to Enhance Styling"
We are using EdiText in an app that utilizes styled-components. I am trying to style items like the buttons for Edit, Cancel, and Save but am having little luck.

It would be great to build out a styled component that we could just drop in that comes with our styled elements. For example build out the styled-component:

[code]

[code]

I have tried to style with some of the `inputProps` and `viewP

[2019-11-16 05:55] alioguzhan commented on #52
Hey Justin,

I think I understand what you are trying to achieve. You want to style the `EdiText` by targeting internal HTML elements.

I never thought of this while building the component. Give me a day or so and I will see what we can do. Sounds good to you?

[2019-11-16 05:59] justinkuntz commented on #52
Awesome thanks @alioguzhan

[2019-11-16 22:46] alioguzhan commented on #52
Hey Justin,

https://github.com/alioguzhan/react-editext#styling-with-styled-components

Can you please first read this section in README and then click to the bottom link to navigate to the examples page?

I need a review/feedback before sending a new release to the NPM.

You can even test this version on your local / codesandbox by settings repository URL in package.json.

Please let me know.

T

[2019-11-17 16:01] justinkuntz commented on #52
@alioguzhan apologies for not reviewing sooner. I pulled it locally and everything seems to work. I made some changes in the Examples directory and I could target everything I needed to style. For whatever reason `npm install` would not work on that directory, I had to use yarn and `yarn start`.

Nice work and thank you for tackling this so quickly!

[2019-11-17 16:55] alioguzhan commented on #52
Great!

I just sent a new release to the NPM. Feel free to open an issue again if you find anything broken.

Thanks for the feedback!

[2019-11-17 16:55] alioguzhan commented on #52
@all-contributors please add @justinkuntz for ideas and bug.

[2019-11-18 06:10] #52 closed

[2019-11-21 12:36] bo0tzz commented on #46
Hi,
This feature is awesome, however when the EdiText field is used inside a <form>, pressing enter submits the whole form. Would it be possible to prevent this, for example by binding the keypress event listener to the field instead of to window, and calling event.preventDefault()?

[2019-11-21 14:07] alioguzhan opened #54 "submit on enter submits the whole form"
Hi,
This feature is awesome, however when the EdiText field is used inside a `<form>`, pressing enter submits the whole form. Would it be possible to prevent this, for example by binding the keypress event listener to the field instead of to window, and calling event.preventDefault()?

_Originally posted by @bo0tzz in https://github.com/alioguzhan/react-editext/issues/46#issuecomment-557065937_

[2019-11-21 14:15] alioguzhan commented on #54
Hey, I will try to reproduce the issue and will update this issue.

Thanks for the feedback!

[2019-11-23 11:44] #54 closed

[2019-11-23 12:04] alioguzhan commented on #54
Just released a new version. Can you please check it? Thanks.

[2019-11-26 08:54] #49 closed

[2019-12-24 00:07] soncco opened #57 "Get name of EdiText on save"
I have several EdiText components and I want to save each data separately.

Example:
[code]

And the onSave function will receive:

[code]

Or how can we get the name of the input that has triggered the onSave callback?

[2019-12-24 05:16] alioguzhan commented on #57
Hey,

What about if we pass the whole `inputProps` as the second argument to the `onSave` callback?
[code]
We can use `id` or `name` or any other attribute to distinguish multiple EdiText's from each other.

What do you think ?

[2019-12-24 18:00] soncco commented on #57
It's a good idea!!!

[2019-12-25 17:53] #57 closed

[2019-12-27 12:54] alioguzhan commented on #57
@all-contributors please add @soncco for idea and feedback.

[2020-01-21 15:26] zig opened #60 "pressing escape has same effect as enter"
with submitOnEnter, when pressing escape, it calls onSave instead of onCancel

[2020-01-23 07:14] alioguzhan commented on #60
Hey, @zig thanks for this!

I just released a new version fixes this. Can you please verify if it is working :

https://alioguzhan.github.io/react-editext/#submit-on-enter

@all-contributors please add @zig for bug report

[2020-01-23 07:52] zig commented on #60
Thank you, it does indeed not call onSave anymore, now it would be perfect if it called onCancel :)

[2020-01-23 07:56] zig commented on #60
Another remark : I first tested by updating the package through npm, I got release 3.12.2 which should contain the fix, but it doesn't seem to. So I actually applied your fix manually to test.
Am I doing a mistake somewhere ? I don't see it.

[2020-01-23 08:20] alioguzhan commented on #60
I am not sure if assigning new handlers to the user's keyboard without asking them :) Since the prop's name is `submitOnEnter` let's limit its scope only with `Enter`. If you want to add extra handlers you can use `onKeyDown` via the `inputProps`. What do you think?

Ah! That's my mistake. I will send a new release :/ Thanks for this!

[2020-01-23 08:38] alioguzhan commented on #60
Just released a new version `3.12.4`. Can you please check? Thanks. @zig

[2020-01-23 08:48] zig commented on #60
I see, I hadn't noticed we could customize onKeyDown, I am OK with this solution, though I'd say having a `cancelOnEscape` option might be a bit more user friendly (but I am nitpicking :)

[2020-01-23 08:50] zig commented on #60
Seems good, thanks !

[2020-01-23 08:57] alioguzhan commented on #60
That makes sense actually :) I can implement it in a few days or so. I will let you know! :)

Feel free to close this issue.

[2020-01-23 08:58] #60 closed

[2020-01-23 09:00] alioguzhan opened #62 "implement cancelOnEscape prop"
Just like `submitOnEnter`, but for cancellation.

Suggested by @zig in #60

[2020-02-05 20:18] #62 closed

[2020-02-12 19:44] isaiahtaylor opened #74 "Feature Request: Cancel on unfocus"
**Is your feature request related to a problem? Please describe.**
A predictable pattern for inline-editability is to cancel the editing session when the user "clicks away."

**Describe the solution you'd like**
Optional prop like "cancelOnUnfocused" that cancels the editing when the component loses focus.

Thanks so much for a great library!

[2020-02-12 20:26] alioguzhan commented on #74
Hey, thanks for the suggestion!

It sounds like a great idea.

I will let you know once it is completed. 👍

[2020-02-19 17:37] alioguzhan commented on #74
@all-contributors please add @isaiahtaylor for ideas.

[2020-02-19 17:42] #74 closed

[2020-02-21 18:40] anz000 opened #79 "Feature Request: Save on unfocus (saveOnUnfocus)"
**Is your feature request related to a problem? Please describe.**
User starts typing in. They never click the Save or press Enter.
The user are under the assumption that the updated text got saved, but it never did.

**Describe the solution you'd like**
on UnFocus (or mouse away), call the onSave handler. (very similar to cancelOnUnfocus but it saves instead)

**Describe alternatives you've consi

[2020-02-21 22:53] alioguzhan commented on #79
Hey,

can you please check #80 and the [example code at deploy preview page](https://deploy-preview-80--react-editext.netlify.com/#submit-on-blur)

Tell me what you think, please.

[2020-02-21 23:07] anz000 commented on #79
Looks great, exactly what I was hoping for.

[2020-02-22 09:03] #79 closed

[2020-02-22 09:03] alioguzhan commented on #79
@all-contributors please add @anz000 for ideas.

[2020-02-25 02:24] Chryogenic opened #82 "Clicking the "save" button too soon after typing doesn't save"
**Describe the bug**
When typing and then immediately trying to click the save button, it isn't registering the click. I have to wait a couple seconds then try clicking again.

**Expected behavior**
At anytime the save button is clicked, the input should immediately be saved.

**Steps to reproduce**
CodeSandbox Example: **https://codesandbox.io/s/react-editext-template-5twrh**

1. Open the editext

[2020-02-25 06:21] alioguzhan commented on #82
Hey, I couldn't reproduce the issue. It seems fast to me.

- The sandbox you shared is using an old version of the `react-editext`. Can you please use the latest version?
- Do you see the same slowness on the [example page](https://alioguzhan.github.io/react-editext/)?

Thanks.

[2020-02-25 20:48] Chryogenic commented on #82
Hi @alioguzhan,

It appears this issue is local to my setup. I experience this issue when using my laptop with a usbc hub with my mouse and keyboard connected through the hub.

When using the laptop mouse and keyboard directly, the issue is gone.

Thanks for all your work on this project and sorry for the false alarm :)

[2020-02-25 20:48] #82 closed

[2020-05-29 22:06] amirmishani opened #86 "Allow for tab and keyboard editing"
**Is your feature request related to a problem? Please describe.**
I'm using react-editext inside an editable table. I want to be able to tab through each table cell and edit them using keyboard only. I'm also hiding all buttons and only relying on `submitOnEnter`, `submitOnUnfocus`, and `editOnViewClick` to edit and save. However as things are now I have to use a mouse to click into a cell to mak

[2020-05-30 20:09] alioguzhan commented on #86
Hey, thanks for the issue.

The reason why I separated the `inputProps` and `viewProps` is because people will want to assign props to both elements. There are also `EdiText-specific` props like `submitOnEnter` which can be passed to neither `input` nor `view` element. That's why we have `inputProps` and `viewProps`. I couldn't think of any solution other than this. But I am open to suggestions!

[2020-05-31 16:33] amirmishani commented on #86
@alioguzhan I definitely think `inputProps` and `viewProps` are necessary and they're very useful. I didn't mean to change them in any way, I should have been more clear, I just meant adding the new `tabIndex ` which will trickle down to both input and view.

[2020-05-31 18:42] alioguzhan commented on #86
Ah! I see now. Yes, passing down the `tabIndex` to both props makes sense. I will mention you once I create a PR for this!

[2020-06-01 07:40] #86 closed

[2020-06-01 07:48] alioguzhan commented on #86
Just sent a new version to the npm. Please check it!

[2020-06-01 08:37] alioguzhan commented on #86
@all-contributors please add @amirmishani for features

[2020-06-01 08:39] alioguzhan commented on #86
@all-contributors please add @amirmishani for ideas

[2020-08-18 19:26] anz000 opened #94 "Detect change in value as I type/erase"
**Is your feature request related to a problem? Please describe.**
How can I add a onChange listener everytime I add or delete text?

**Describe the solution you'd like**
I'd like to be able to detect the change in the value, and process that change without saving.
Something like , `onValueUpdated`.

I tried adding `onKeyPress` and `onChange` to `inputProps` like:
[code]
The keypress gets detected

[2020-08-18 19:49] anz000 commented on #94
This works.

[code]
Initially, I tried "onKeyPress" and apparently it only detects printable character. So, "onKeyDown" seems to be the way to go.

It would be great if this could be added to the documentation. Thanks.

[2020-08-18 21:05] anz000 commented on #94
I ended up adding a `ref` to the `Editext` element and access the value that way.
[code]
`this.searchElm.state.value` has the current value for the element. Wonder if there is a better way, otherwise this issue can be closed.

[2020-08-19 08:02] alioguzhan commented on #94
Hey @anz000 , thanks for the issue. I am trying to avoid more props/features to this version of the component. If a request can be achieved with the current structure, my vote is to NOT implement it. There are already too many props. What do you think?

[2020-08-19 14:37] anz000 commented on #94
Sounds good, @alioguzhan .

[2020-08-19 14:37] #94 closed

[2020-09-09 07:58] jamiebullock opened #95 "Question: is it possible to hide the icons...?"
Hi, great work with EditText!

Is there any straightforward way to hide all the icons...?

I would like:

- Click or focus to edit
- Enter to submit
- Escape to cancel

All of this is already possible, but I would like to hide the icons.

[2020-09-09 13:05] alioguzhan commented on #95
Hey!

There is a 'hideIcons' prop. Is this what you need?

[2020-09-09 17:02] jamiebullock commented on #95
Sorry, my request wasn't clear. I want to hide the buttons altogether, not just the icons.

[2020-09-11 07:08] alioguzhan commented on #95
Ah, There is no any direct prop to achieve this, but you can hide any element by using `styled-components`.

You can target and apply styles almost any part of the editext component. Or you can achieve the same thing by using classname props.

https://github.com/alioguzhan/react-editext#styling-with-styled-components

`saveButtonClassName`
`editButtonClassName`
`cancelButtonClassName`

https://git

[2020-09-12 12:06] jamiebullock commented on #95
@alioguzhan thanks for the quick reply! Yes, this solves my problem.

[2020-09-12 12:06] #95 closed

[2020-10-28 16:24] mumot1999 opened #99 "Async validation does't work"
**Describe the bug**
I am using axios in validation function, validation don't work

Sandbox:
https://codesandbox.io/s/peaceful-banzai-y8xzn?file=/src/index.js

First validator use async function and dont work
Second validator is sync and always returns false

[2020-11-15 02:49] #99 closed

[2021-01-12 00:07] brandonparis opened #103 "Saved value carries over to new input and inserts itself when handleCancel is called"
**Describe the bug**

When I update an item on the page it saves correctly and I see the correct (new) input value. In my application I have the value of the editext controlled by props. When I go to change those props (basically select a new item with different content) I also get the correct value for the input. However, if that input value happens to be an empty string, which in my case happens

[2021-01-12 03:32] harshilparmar commented on #103
And one more thing to add can't perform `select new string` after clicking cancel once.

@alioguzhan  I would like to see this issue 😀

[2021-01-14 12:35] alioguzhan commented on #103
Hey, Thanks for reporting this issue. I will look into that in a day or so. I will update here.  @brandonparis

Hey, I don't understand the problem :( Can you elaborate on it in a new issue? Thanks! @harshilparmar

[2021-01-16 09:40] alioguzhan commented on #103
Yes, I can reproduce this issue. I started to work on this. It is probably because the empty string is considered as `falsy` value, so we ignore that and revert it to the previous one.

[2021-01-16 09:45] alioguzhan commented on #103
We can also reproduce that at [examples page](https://alioguzhan.github.io/react-editext/#save-on-enter):

![editext-bug](https://user-images.githubusercontent.com/1928541/104808656-c1364f80-57f8-11eb-984b-d980e4d12db9.gif)

[2021-01-16 10:03] alioguzhan commented on #103
Ok, we can fix this problem by not treating `empty strings` as false values.

BUT, I am not sure if this is the correct approach. Because even the language itself tells that `empty strings are falsy values`.  See the [related section in the specification](https://www.ecma-international.org/ecma-262/11.0/index.html#sec-toboolean), please.

I am sure there are people using this component as it is no

[2021-01-16 10:05] alioguzhan commented on #103
Or we can implement this as the default behavior. I need to check other libraries/components to see some references.

[2021-01-16 11:40] alioguzhan commented on #103
@brandonparis Can you please verify that the problem is solved:

https://deploy-preview-104--react-editext.netlify.app/

[2021-01-18 18:58] brandonparis commented on #103
@alioguzhan having a hard time figuring out how to test. How do you recommend I test the new build out, as I don't see a place in the deployed app where I can test the specific case out.

[2021-01-19 08:56] alioguzhan commented on #103
hey @brandonparis , can you please update your `package.json` as below:

[code]

This way, you should be able to install the package from a specific branch or commit. Please let me know if this works or not.

[2021-01-19 09:01] alioguzhan commented on #103
For reference, you can see different options to install a package from URL or Github repository:

https://docs.npmjs.com/cli/v6/configuring-npm/package-json#git-urls-as-dependencies

[2021-01-19 14:28] brandonparis commented on #103
Got it, thank you. I'll test it out today and let you know.

[2021-01-19 14:50] brandonparis commented on #103
@alioguzhan confirmed that it's still an issue unfortunately.

<img width="544" alt="Screen Shot 2021-01-19 at 7 49 09 AM" src="https://user-images.githubusercontent.com/17344791/105050372-f1fdcb00-5a2a-11eb-97af-6199f84627e0.png">

Made sure the new code is running too.

[2021-01-19 21:49] alioguzhan commented on #103
OK, I will investigate that. Stay tuned...

[2021-01-24 11:06] alioguzhan commented on #103
I could not find a way to add a package's specific branch to a Codesandbox project. So I am going to merge this fix to the master so we can test it on Codesandbox. I couldn't reproduce your issue after the fix but I will try it with your Codesandbox example. Once we agree on it is fixed, I will send a new release to the npm. @brandonparis

[2021-01-24 12:34] alioguzhan commented on #103
Ok, I merged the latest PR and the example web site is updated. But I could not reproduce the problem. Can you please try this example here:

https://alioguzhan.github.io/react-editext/#edit-by-default

Please try your scenario and let me know the details.  Thanks, @brandonparis

[2021-01-25 18:46] brandonparis commented on #103
@alioguzhan I'm not sure there's an example on that page that matches the situation exactly.

Take a look at this codesandbox: https://codesandbox.io/s/purple-tdd-0pi9m

Using the steps here you should be able to reproduce easily

Edit the text and save --> Then, hit the "Select new string" button --> Edit this text --> Cancel editing of this text. You should see the old string put in the input va

[2021-02-02 10:54] alioguzhan commented on #103
Hey @brandonparis,

I am having progress on solving the issue. And I updated one of the examples so that we can reproduce your scenario. Can you please check it from the below link:

https://deploy-preview-105--react-editext.netlify.app/#edit-by-default

There is still a small issue remaining: Once you set the value via button, you cannot re-set it to the same value by clicking to the button. But

[2021-02-02 16:39] brandonparis commented on #103
@alioguzhan yep I'll try to get that testing done today, thanks for cranking on this.

[2021-02-02 16:49] brandonparis commented on #103
@alioguzhan it looks like this bug is fixed! But not sure about the outstanding issue and why that could be the case (it looks like the code editor to the left is not actually accurate with what you're seeing on the right there?).

[2021-02-02 17:49] alioguzhan commented on #103
Yes, my mistake. I updated the editor code on the example page:

https://deploy-preview-105--react-editext.netlify.app/#edit-by-default

[2021-02-04 09:48] alioguzhan commented on #103
Hey @brandonparis ,

I just sent a new release to the NPM (`3.17.2`). Can you please upgrade your version? This is not a complete fix, I know. But I want to hear your feedback on real-world usage. Thanks

[2021-02-04 09:53] alioguzhan commented on #103
@all-contributors please add @brandonparis for bug report.

[2021-02-04 15:01] brandonparis commented on #103
@alioguzhan works for my use-case!

[2021-02-04 20:49] alioguzhan commented on #103
Great. I am closing this issue. I will open another issue for the remaining bug, later. Thanks for your feedback, again!

[2021-02-04 20:49] #103 closed

[2021-03-26 10:50] chrisschaub opened #109 "Integrate with url parser"
I would be nice to have an option to parse urls in the text and make links. So www.cnn.com would become <a href="https://www.cnn.com">https://www.cnn.com</a> on save.

[2021-03-26 16:56] alioguzhan commented on #109
What about a more generic solution ?

We can implement a `renderView` function prop which takes the raw value as param and expects to return a modified version of the value. So with this approach, we can take the current value, parse it, alter it and return a new value (`string` or `jsx`).

[code]

 What do you think?

[2021-03-27 14:52] chrisschaub commented on #109
Yes, that's a great idea!

On Fri, Mar 26, 2021, 12:56 PM Ali Oğuzhan Yıldız ***@***.***>
wrote:

[2021-03-27 17:10] alioguzhan commented on #109
OK great. let me think about it deeply. I will create a PR by mentioning this issue. You can follow the process.

[2021-03-27 19:48] alioguzhan commented on #109
Hey, see below deploy preview for this feature. What do you think?

https://deploy-preview-110--react-editext.netlify.app/#render-value

[2021-03-28 09:53] alioguzhan commented on #109
@all-contributors please add @chrisschaub  for ideas

[2021-03-29 11:37] chrisschaub commented on #109
I'll check it out, thanks for the quick work!

[2021-04-02 16:11] #109 closed

[2021-04-02 20:45] alioguzhan commented on #109
This is released under `v3.18.0`. The package can be updated via npm. Please see the examples page.

[2021-05-12 22:40] kalashnikovisme opened #116 "Error: Can't resolve 'react/jsx-runtime' in '/home/pavel/projects/frontend/node_modules/react-editext/dist'"
**Describe the bug**
1) yarn add react-editext
2) add `<EdiText value={someValue} onSave={() => console.log('save')} />` simple call to any component
3) have this error `Error: Can't resolve 'react/jsx-runtime' in '/home/pavel/projects/frontend/node_modules/react-editext/dist'`

**Expected behavior**
It should work I think

React -v 16.9.0

[code]

My app is very big, I think I can't reproduce it

[2021-05-12 22:48] kalashnikovisme commented on #116
Fixed by downgrading to version`3.18.0`

[2021-05-12 23:24] alioguzhan commented on #116
Thanks for the report. I will look into it ASAP.

[2021-05-12 23:41] alioguzhan commented on #116
I reopened this. Because this is still an issue. I am investigating. Currently, I can tell this is related to the [new jsx transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) came with react `v16.14.0`. You can downgrade the `react-editext` to `v3.18.0` or you can upgrade react and react-dom to `v16.14.0`.

I will let you know once I find out the fix. Thanks for

[2021-05-13 01:11] alioguzhan commented on #116
Hey @kalashnikovisme ,

I just published a new version `4.1.4` to npm. It should be working with previous react versions. Can you please test it and verify?

Also, see this sandbox with `react v16.9.0` and `react-editext v4.1.4`:

https://codesandbox.io/s/youthful-dew-u7iv1

Feel free to close this issue once you verify that the problem is fixed.

[2021-05-13 01:15] alioguzhan commented on #116
@all-contributors add @kalashnikovisme for bug reports.

[2021-05-17 08:44] johnnypea opened #119 "Recommended way to watch "onChange" event"
**Is your feature request related to a problem? Please describe.**
I would like to watch user input as he types and give him instant feedback.

**Describe the solution you'd like**
A method to hook into "onChange" prop?

**Describe alternatives you've considered**
I gues I can implement "onChange" myself. Maybe I can use "inputProps"?

[2021-05-17 09:44] alioguzhan commented on #119
Hey,

You can use `inputProps` for this. I created a sample sandbox:

https://codesandbox.io/s/nifty-leakey-qsde9

Can you please check this and tell me if this is what you need?

[2021-05-17 10:25] johnnypea commented on #119
`onKeyUp`, even `onInput` works but why not `onChange`? It would be more convenient for me as I can change field value in any way, not just rely on key press. Thank you.

[2021-05-17 11:12] alioguzhan commented on #119
Hmm. You are right, I believe. Let me check that why it is not working.

[2021-05-17 11:45] alioguzhan commented on #119
Hey, Can you please install `react-editext` from latest branch:

[code]

And please let me know if it is working as expected. You can see an example here:

https://deploy-preview-120--react-editext.netlify.app/#custom-props-for-input-element

[2021-05-17 13:37] johnnypea commented on #119
It works nicely, thanks!

[2021-05-17 13:45] alioguzhan commented on #119
Great. `v4.1.5` is released at npm. Please upgrade the package :) @johnnypea

@all-contributors please add @johnnypea for bug report

[2021-05-17 15:44] #119 closed

[2021-05-22 09:24] #116 closed

[2021-06-28 01:15] kalashnikovisme commented on #116
@alioguzhan I've updated lib to '4.1.4'.

Everything is ok now, thanks!!

[2021-07-06 07:35] andrew-mclachlan opened #125 "Anyone had any luck automating click and edit using Spectron / Webdriver?"
I've been trying to automate a click and edit using Spectron / Webdriver but I keep getting "element is not interact-able". Nor am I able to retrieve the value of an entry box. I've tried many XPath combinations to see if click or getValue would work on them, but no luck.

Has anyone managed to automate this and if so, do you have any examples, tips or tricks?

Thanks in advance!

[2021-07-06 08:52] alioguzhan commented on #125
Hey, I never used Spectron so I don't have any idea atm. Can you provide a sample code to reproduce this so I can play with it to see what is wrong and what can be done?

Thanks!

[2021-07-06 11:09] andrew-mclachlan commented on #125
Thanks -

[code]

I found that if I use the XPath selector below (-) to the div above, the click returned "element is not interactable". If it used an XPath from the top-down, then I was able to click the entrybox.

[code]

I needed to click the top div in order for it to work.

I'm now trying to get the value (199) using an XPath selector but so far, I get null.

[2021-07-06 11:44] andrew-mclachlan commented on #125
Unfortunately, I now get an element not in correct state when trying to set the value/text after the click.

Curious if anyone has automated the click, get, and set of this wonderful edit box.

[2021-07-06 12:01] alioguzhan commented on #125
OK, I will install webdriver and try to achieve what you are trying to do. I ll let you know once I find something useful.

[2021-07-06 14:11] alioguzhan commented on #125
I created a temporary directory. And inside of it, I installed below packages:

[code]

Then created a file named `editext.js`:

[code]

Then run this command:

``` node editext.js```

All seem working without any error. I checked both with CSS selectors and XPath selectors. Can you please check this? Or you are having a problem because of something else?

Thanks.

[2021-07-06 14:11] andrew-mclachlan commented on #125
This is awesome! Thanks. I'll test it out.

[2021-07-29 04:42] #125 closed

[2021-08-20 12:39] shubh057 opened #127 "On click of edit button check flag value and then enter in edit mode"
Can we do something like if any user clicks on edit button then maybe with the use of ```onEditingStart``` function I can check if flag value is set to true then only enter in edit mode otherwise show alert box with some message and keep the div only in view mode?

Thanks in advance!

[2021-08-21 16:44] alioguzhan commented on #127
Hey, so you want to listen if a user clicks on the `edit button`, BUT instead of enabling the edit mode you want to check a condition. If condition passes, the user can enter into the `edit mode`. If not, you will prevent the user and show  a alert box. Is this is what you need here?

[2021-08-21 17:12] ss62171 commented on #127
@alioguzhan yes.

Thanks for your response.

[2021-08-22 05:07] shubh057 commented on #127
@alioguzhan yes.
Thanks for your response

[2021-08-23 10:52] alioguzhan commented on #127
Hey, I added a new prop `canEdit`. Can you please check deploy preview page for that feature:

https://deploy-preview-128--react-editext.netlify.app/#conditioanl-editing

Tell me if this is what you need.

[2021-08-23 15:45] shubh057 commented on #127
Hey, I exactly needed this. I tried using this but it's not working. Can you share a working code on codepen?
Thanks,

[2021-08-23 21:30] alioguzhan commented on #127
I just published a new version `4.2.0` to npm. Can you please upgrade the `react-editext` on your local and tell me if everything is OK? Thanks.

[2021-08-24 05:13] shubh057 commented on #127
Yes, working.
Thanks a lot.

[2021-08-24 07:32] #127 closed

[2021-08-24 07:32] alioguzhan commented on #127
@all-contributors please add @shubh057 for ideas

[2021-11-06 19:29] Nogias9x opened #136 "Value is not controllable (uncontrolled) by prop `value`"
**Describe the bug**
The component has its own internal state of value and doesn't obey the external prop `value`

**Expected behavior**
`value` should be fully controlled by the external prop `value`

**CodeSandbox URL**  https://codesandbox.io/s/dazzling-jones-l4esq
In this sandbox, users should not be able to change the value of the editext.

Version: 4.2.1

[2021-11-06 20:22] Nogias9x commented on #136
Work-around for anyone who needs it.
**DISCLAIMER:** This is anti-pattern as it make React fail to memorize the component, so React has to unmount and mount the component again and again.

[code]

[2022-01-04 07:58] Nogias9x commented on #136
This is still relevant. Unfortunately, I don't have time to look into the package :(

[2022-01-04 12:51] alioguzhan commented on #136
Please help me to find the way here:

1. If the `value` prop is passed, we shouldn't change it anyway, right?
2. This is for `view mode` I believe. What happens if the user clicks to edit button to enable `editing` mode?
3. What will happen if the user changes the text in `editing mode` then press to save button when there is a controlled `value`?

Thanks

[2022-04-21 05:13] Nogias9x commented on #136
Sorry @Salioguzhan, I didn't have time to reply you sooner.
Thank you so much for the time & efforts.

Basically, as a FE dev, I expect `react-editext` to have similar behaviors to `<input />`

- Yes. I think so

- I think this will be helpful in both modes

- I think the component will fire an `onChange` event. And devs need to handle that event to update his state tp keep the component to update

[2022-05-01 20:17] alioguzhan commented on #136
Yes. I will look into it again based on the feedback from @Nogias9x

[2022-09-02 19:55] sanjain-progress opened #152 "validation prop: failed to validate when use with async and await"
**Describe the bug**

I am trying to do the validation from the API call for this using `validation` prop.  And for this, invoking the function  using async and await. Validation never through any error

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

[code]

**CodeSandbox URL** Your CodeSandbox URL.

https://codesandbox.io/s/objective-bush-sno01b?fil

[2022-09-03 08:41] alioguzhan commented on #152
Hi, thanks for reporting this. I will look into it. Meanwhile, feel free to create a PR.

[2022-09-06 14:17] alioguzhan commented on #152
Hi, can you please install `EdiText` from the recent branch and see if it is working now:

[code]

And you can try the validation function with something like this:

[code]

If it is working I can send a new release.

[2022-09-06 18:38] sanjain-progress commented on #152
Hey @alioguzhan,

Thanks for making the time to fix this issue.

I tried this in my local, Use the same [code](https://github.com/sanjain-progress/react-editext-issues152-/blob/main/src/App.js) which I did in CodeSandbox.
This time it is always throwing the error.

You can check my code here: https://github.com/sanjain-progress/react-editext-issues152-

On the other side, I try to update the depen

[2022-09-06 18:52] alioguzhan commented on #152
Hi @sanjain-progress ,

`validation` prop should a take function that returns a `boolean` or `Promise<boolean>`. In your example, you are just calling `updateCardName(val)` with await. But that function does not return anything. Try one of these and let me know if it is working:

Option 1:
[code]

Option 2:
[code]

Option 3:

[code]

[2022-09-06 19:00] sanjain-progress commented on #152
@alioguzhan
Thanks for pointing this out. It works perfectly.

You can close this issue and release a new version.

[2022-09-06 19:05] #152 closed

[2022-09-06 19:33] alioguzhan commented on #152
@all-contributors please add @sanjain-progress for bug fix

[2022-10-20 16:42] spostad7 commented on #94
Solved by using inputProps
Thanks

[2022-10-22 03:28] spostad7 opened #158 "Validation className"
Thanks for this brilliant library,
I wonder how could it possible to customize validation message with className or something to style it?
I need to edit some style in validation message (font. color, ....)

[2022-10-22 08:23] alioguzhan commented on #158
Hi @spostad7 ,

You can pass a `string` or a `React Node`. In fact, anything that React can render is valid for `validationMessage`.   Both are valid below:

This:
[code]

Or this:

[code]

Or even this:

[code]

[2022-10-22 12:54] spostad7 commented on #158
That's perfectly fine!
Thank you for fast response

[2022-10-22 14:15] spostad7 commented on #158
@alioguzhan ,
I tried the second example (using simple div element), but it seems it doesn't show any text message on the screen. It does come to DOM but the message doesn't show in the screen. Also it's notable that it insert my tag into current validation tag. I need the situation to completely overwrite current Node to my jsx element.
here is my code so far:

[code]

[2022-10-22 14:32] alioguzhan commented on #158
Can you make a codesandbox reproduces this behavior, so I can check it on a full working example ?

Thanks

[2022-10-24 16:47] spostad7 opened #159 "validation not fire on type textarea / dynamically controlled save button"
**Describe the bug**
The component doesn't follow validation rule on type textarea mode

**Expected behavior**
Expected to behave exactly like other types

here's my code so far, it's simple to test this:

[code]

[2022-10-25 02:59] spostad7 commented on #159
as I found out, this was happened when we have controlled save/edit button and it just only apply if the Enter key pressed. otherwise it won't trigger validation rule

[2022-10-28 19:22] alioguzhan commented on #159
React Editext does not support controlled actions. The only place that validation happens is the **internal save button's onSave handler**. You are trying to trigger save and edit actions from an external component that is not supported.

I designed this component for simple use cases like inline editing for tables or forms. You are trying to derive something more advanced than its capabilities.

[2022-10-28 19:27] #159 closed

[2022-10-28 19:29] alioguzhan commented on #158
This is because of the same reason as #159? if so we can close this as well for now.

[2022-10-29 05:16] spostad7 commented on #158
For somehow for textarea type you are correct, as you said we can not have validation on controlled save button on pressing Enter. But it's been more advance if we could completely overwrite validation tag with custom validation message rather than insert new tag into current tag, because it has its own style and may conflict with it's children style...

[2022-10-31 20:35] alioguzhan commented on #158
Ok so for backward compatibility, I can't remove the existing validation content container. But I added a new attribute `validation-container` to the validation container element. So now we can override the styles of the validation container element as well as the child content. There are already [examples in README](https://github.com/alioguzhan/react-editext#styling-with-styled-components) but h

[2022-10-31 21:00] alioguzhan commented on #158
@all-contributors add @spostad7 for ideas.

[2022-11-04 12:57] #158 closed